/* Resets Code */
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: pop;
  src: url(Resources/images/Poppins/Poppins-Medium.ttf);
}
:root {
  ---font-famil: pop;
}
.text-align {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.sm-container {
  max-width: 950px;
  margin: 0 auto;
}
.text-xl {
  font-size: 4.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a202c;
}
span {
  color: #0c0355;
}
/* Reset code end */

/*  Nav Start */
nav {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}
nav .container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav .container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}
nav .container ul li {
  font-family: var(---font-famil);
  font-weight: 100;
}
nav .container ul li a {
  text-decoration: none;
  color: black;
  transition: 1s;
}
nav .container .logo {
  height: 40px;
  overflow: hidden;
}
nav .container .logo img {
  height: 100%;
}
nav .container ul li a.active,
nav .container ul li a:hover {
  color: #0c0355;
}
nav.active {
  width: 100%;
  position: fixed;
  top: 0;
  transition: 1s;
  z-index: 99;
  animation: change 0.5s ease-in;
  box-shadow: 1px 0px 10px #00000047;
}
@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 950px) {
  nav .container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 83px;
    left: 0;
    padding-left: 10px;
    background-color: #fff;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: 0px;
    transition: 1s;
    overflow: hidden;
  }
  nav .container ul.active {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
  }
  nav {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 99;
    border-bottom: 3px solid #a8a8a8;
  }

  .burger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .burger div {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #000;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .sm-container {
    padding: 0 10px;
  }
  nav .container .logo {
    height: 25px;
    overflow: hidden;
  }
}
/*  Nav End */

/* Header Start */
header.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}
header p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 1.5;
  font-weight: 200;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
header .text {
  max-width: 550px;
}
header .image {
  max-width: 500px;
  overflow: hidden;
}
header button {
  padding: 16px 20px;
  border-radius: 30px;
  border: 0;
  font-size: 17px;
  letter-spacing: 1.2px;
  transition: 0.5s;
  margin-bottom: 30px;
}
.black {
  background-color: #000;
  color: #fff;

  margin-right: 30px;
}
.blue {
  background-color: #0c0355;
  color: #fff;
}

header button:hover {
  transform: scale(1.01) translateY(-5px);
}
@media screen and (max-width: 1120px) {
  header .text {
    max-width: 500px;
  }
  header .image {
    max-width: 400px;
    overflow: hidden;
  }
  header button {
    padding: 16px 30px;
    border-radius: 30px;
    border: 0;
    font-size: 14px;
    letter-spacing: 1.2px;
    transition: 0.5s;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 950px) {
  .text-xl {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a202c;
  }
  header p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 1.5;
    font-weight: 200;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  header .text {
    max-width: 450px;
  }
  .black {
    background-color: #000;
    color: #fff;

    margin-right: 10px;
  }
  header button {
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    font-size: 16px;
    letter-spacing: 1.2px;
    transition: 0.5s;
    margin-bottom: 30px;
  }
  header h1 {
    padding-top: 89px;
  }
}

@media screen and (max-width: 905px) {
  header .text {
    max-width: 100%;
    width: 100%;
  }
  header .image {
    max-width: 100%;
    width: 100%;
  }
  header button {
    padding: 16px 30px;
    border-radius: 30px;
    border: 0;
    font-size: 17px;
    letter-spacing: 1.2px;
    transition: 0.5s;
    margin-bottom: 30px;
  }
}
/* Header End */

/* Section Start */
.bg {
  background: url(Resources/images/secure-bg-pattern3.png);
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}
.bg-2 {
  background: url(Resources/images/secure-bg-pattern2.png);
  background-position: center;
  background-size: cover;
}
.bg-2 .text-align {
  color: #fff;
}
section.bg {
  margin-top: 90px;
  padding: 30px 0;
}
section {
  margin-top: 30px;
  padding: 30px 0;
}
section p {
  font-family: var(---font-famil);
  color: #000;
}
section h1 {
  font-family: sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #000;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
}
section b {
  font-family: var(---font-famil);
}
@media screen and (max-width: 900px) {
  section h1 {
    font-family: sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .sm-container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 900px) {
  section h1 {
    font-size: 2rem;
  }
}

section .sm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
section .sm-container .image {
  width: 350px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
}
section .sm-container .text {
  width: 550px;
}
section.bg .sm-container .text p {
  color: #f5f5f5;
}
section .sm-container .text a {
  text-decoration: none;
  background-color: black;
  padding: 16px 30px;
  display: inline-block;
  border-radius: 30px;
  border: 0;
  color: #fff;
  font-family: var(---font-famil);
  font-size: 17px;
  letter-spacing: 1.2px;
  transition: 0.5s;
  margin-bottom: 30px;
  margin-top: 30px;
}
section.bg-2 {
  margin-top: 0;
}
section.bg-2 .sm-container .text a {
  background-color: #0c0355;
}
b {
  margin-bottom: 10px;
  display: inline-block;
}
section .sm-container .text a:hover {
  transform: scale(1.01) translateY(-5px);
}

section .sm-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 970px) {
  section .sm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  section .sm-container .text {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  section .sm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    flex-direction: row;
    padding: 10px;
    text-align: left;
  }
  section .sm-container .text {
    width: 100%;
    text-align: left;
  }
  section .sm-container .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 30px;
  }
}

/* Grid Section Start */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.bg-3 {
  background-image: url(Resources/images/business-bg-pattern.svg);
  margin-top: 20px;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-3 .grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-3 .image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 3px solid #fff;
}
.bg-3 .image img {
  width: 55%;
}
.bg-3 .grid div p {
  font-family: var(---font-famil);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Grid End */

/* Main Start */
/* main.sm-container {
  height: 500px;
  margin-top: 100px;
  margin-bottom: 200px;
  border-radius: 10px;
  width: 90%;
  background-color: #0c0355;
  overflow: hidden;
  position: relative;
  z-index: -3;
}
main.sm-container .img {
  width: 300px;
  position: absolute;
  right: 40px;
  bottom: -200px;
  z-index: -1;
}

main.sm-container .txt h1 {
  font-family: var(---font-famil);
  margin-left: 40px;
  margin-top: 60px;
  color: #fff;
  max-width: 500px;
}
main.sm-container .txt p {
  font-family: var(---font-famil);
  margin-left: 40px;
  margin-top: 10px;
  font-weight: 100;
  color: #e8e8e8;
  max-width: 500px;
}

main.sm-container .txt span {
  color: #5741ff;
}
main.sm-container .txt img {
  width: 150px;
  margin-left: 40px;
  margin-top: 10px;
}
main.sm-container .img .circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  left: -40px;
  bottom: 250px;
  background-color: #4a40ff90;
  z-index: -2;
}
main.sm-container .img .circle.circle-2 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  left: -40px;
  bottom: 150px;
  background-color: rgba(255, 0, 0, 0.668);
  z-index: -2;
}
@media screen and (max-width: 900px) {
  main.sm-container .img .circle{
    height: 50px;
    width: 50px;
  }
  main.sm-container .txt h1 {
    margin-left: 5px;
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
  }
  main.sm-container .txt p {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 100;
    color: #e8e8e8;
    max-width: 500px;
  }
  main.sm-container .txt img {
    width: 150px;
    margin-left: 5px;
    margin-top: 10px;
  }
  main.sm-container .img {
    width: 200px;
    position: absolute;
    right: 40px;
    bottom: -150px;
    z-index: -1;
  }
}
@media screen and (max-width: 700px) {
  main.sm-container .img {
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: -200px;
    z-index: -1;
  }
}
Main End */

/* Footer Start */

/* Customer Section Start*/

aside.containerw {
  min-height: 300px;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
aside.containerw .customer-section {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  min-height: 300px;
  animation: change 30s infinite ease-in-out;
  animation-delay: 0.5s;
}
@keyframes change {
  0%,
  100% {
    left: 0;
  }
  30% {
    left: 0;
  }
  31% {
    left: -100%;
  }
  65% {
    left: -100%;
  }
  69% {
    left: -200%;
  }
  99% {
    left: -200%;
  }
}
aside.containerw .customer-section .customer-section1 {
  min-width: 1300px;
  height: 200px;
  padding: 0;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.containerw .customer-section .customer-section1 .user-container {
  max-width: 700px;
  overflow: hidden;
  padding: 20px;
}
aside.containerw .customer-section .customer-section1 .user-container p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 1300px) {
  aside.containerw .customer-section .customer-section1 {
    min-width: 100%;
    min-height: 300px;
  }
}
.img-name {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.img-name h1 {
  font-size: 1.2rem;
}
.user {
  background-color: #000;
  border-radius: 100%;
  height: 30px;
}
.wh {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5rem;
  margin-top: 50px;
}
/* Customer Section End*/
