/* Resets Code */
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: pop;
  src: url(images/Poppins/Poppins-Medium.ttf);
}
:root {
  ---font-famil: pop;
}
.text-align {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.sm-container {
  max-width: 950px;
  margin: 0 auto;
}
.text-xl {
  font-size: 4.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a202c;
}
span {
  color: #0c0355;
}
/* Reset code end */

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: pop;
  src: url(Resources/images/Poppins/Poppins-Medium.ttf);
}
:root {
  ---font-famil: pop;
}
.text-align {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.sm-container {
  max-width: 1000px;
  margin: 0 auto;
}
.text-xl {
  font-size: 4.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #1a202c;
}
span {
  color: #0c0355;
}
/* Reset code end */

/*  Nav Start */
nav {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}
nav .container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav .container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-between;
  align-items: center;
}
nav .container ul li {
  font-family: var(---font-famil);
  font-weight: 100;
}
nav .container ul li a {
  text-decoration: none;
  color: black;
  transition: 1s;
}
nav .container .logo {
  height: 40px;
  overflow: hidden;
}
nav .container .logo img {
  height: 100%;
}
nav .container ul li a.active,
nav .container ul li a:hover {
  color: #0c0355;
}
nav.active {
  width: 100%;
  position: fixed;
  top: 0;
  transition: 1s;
  z-index: 99;
  animation: change 0.5s ease-in;
  box-shadow: 1px 0px 10px #00000047;
}
@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 950px) {
  nav .container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 83px;
    left: 0;
    padding-left: 10px;
    background-color: #fff;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: 0px;
    transition: 1s;
    overflow: hidden;
  }
  nav .container ul.active {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
  }
  nav {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 99;
    border-bottom: 3px solid #a8a8a8;
  }

  .burger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .burger div {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #000;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .sm-container {
    padding: 0 10px;
  }
  nav .container .logo {
    height: 25px;
    overflow: hidden;
  }
}
/*  Nav End */

footer {
  background-color: #d8ecd1;
  min-height: 400px;
  padding: 10px;
  color: #1a202c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: #1a202c;
}

footer .container {
  display: grid;
  padding: 10px 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: center;
}

footer .container div.iframes {
  display: flex;
  flex-direction: row;
  padding: 30px 0px;
  flex-wrap: wrap;
  width: 100%;
}
.iframes a {
  width: 30px;
  display: inline-block;
  cursor: pointer;
}
footer .container div {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  /* justify-content: center; */
}
footer h1 {
  font-size: 20px;
}
footer p {
  line-height: 25px;
}
footer ul li {
  line-height: 30px;
}
footer .container .logo,
footer .container h1 {
  margin-bottom: 10px;
  max-width: 200px;
}

@media screen and (max-width: 1000px) {
  footer .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 870px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.red2 {
  color: #ff0000;
  font-family: serif;
  transition: ease-in 1s;
  text-decoration: underline dotted;
}
/* .red2:active, */
.red2:hover {
  color: #0000ff;
}
/*  */
header {
  display: grid;
  grid-gap: 2px;
  margin-top: 0px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 625px) {
  header {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 350px) {
  header {
    grid-template-columns: repeat(1, 1fr);
  }
}
header.container {
  padding: 10px 10px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 700px;
}

header .team {
  height: 200px;
  /* background: #0c0355; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .team .img-section {
  /* width: 300px; */
  margin-top: 30px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #1a202c6a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  background-color: #fff;
}
header .team .img-section h2 {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 5px;
}
header .team .img-section p {
  font-size: 10px;
  margin-top: 5px;
  color: #a8a8a8;
}
header .team img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #00000047;
}
@media screen and (max-width: 600px) {
  header .team .img-section {
    /* width: 300px; */
    padding: 20px;
  }
}

/* iframes */
.team a {
  text-decoration: none;
  color: blue;
  margin-top: 10px;
}

/* Section Container */
section.container {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-family: var(---font-famil);
}
section.container h2 {
  font-family: var(---font-famil);
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
section.container p {
  font-size: 13px;
}
@media screen and (max-width: 900px) {
  section.container {
    text-align: left;
  }
}

/*  */
.container.mv {
  margin-bottom: 80px;
  margin-top: 70px;
}
.container.mv h1 {
  margin-bottom: 60px;
}
